{% extends 'home/base.html' %}
{% block content %}
<div class="my-3 text-center">
		<h1 class="text-primary">Clublied</h1>
		<small class="lead">
			<i>"Zingen 't luide zij aan zij"</i>
		</small>
		<br>
		<br>
		Verplicht van buiten te kennen! Het wordt gezongen op de melodie van "Ik ben een boemelaar".<br>
		Het gaat als volgt:
		<br>
		<br>
		<p>
			Wat is de beste home van't stad? Home Vermeylen<br>
			Wie drinkt er alweer een vat? Home Vermeylen<br>
			Wiens kleuren zijn blauw en wit? Home Vermeylen<br>
			't Is de home waar ik op zit, Home Vermeylen<br>
		</p>
		<p>
			<i>Refrein:</i><br>
			Op Home Vermeylen, op Home Vermeylen<br>
			Wij zijn de zatste van 't hele land, ja het hele land<br> 
			Op Home Vermeylen, ja Home Vermeylen<br> 
			Daar is het leven, toch zo plezant! Ja heel plezant!<br>
		</p>
		<p>
		Wat is dat studentenoord? Home Vermeylen<br>
		Plezant en dicht bij d'Overpoort? Home Vermeylen<br> 
		Welke naam scanderen wij? Home Vermeylen<br>
		Zingen 't luide zij aan zij? Home Vermeylen<br>	
		</p>
		<p>
			<i>Refrein</i><br>
		</p>
		<p>
			Waar zijn de spuiten altijd klaar? Home Vermeylen<br> 
			En soms ook de pruimpjes gaar? Home Vermeylen<br> 
			Wat drinken wij toch zo graag? Home Vermeylen<br> 
			Pintjes met een schone kraag! Home Vermeylen<br>
		</p>
		<p>
			<i>Refrein</i><br>
		</p>
		<p>
			Met senior Arno aan het stuur, Home Vermeylen<br> 
			Vieren wij tot het vroegste uur, Home Vermeylen<br> 
			Met de prosenioren op bezoek, Home Vermeylen<br> 
			Is de leute nooit meer zoek, Home Vermeylen<br>
		</p>
	</div>
{% endblock content %}