{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container my-3">
        <div class="alert alert-success alert-dismissible fade show text-center">
            Wachtwoord verandert!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="text-center">
            <a href="{% url 'login' %}"><button class="btn btn-outline-primary">Log in</button></a>
        </div>
    </div>
{% endblock content %}
