{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container my-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 class="text-center text-primary">Nieuw account</h1>
                <div class="text-center">
                    <small class="text-muted">
                        Al een account? <a class="ml-2" href="{% url 'login' %}">Login</a>
                    </small>
                </div>
                <hr>
                <div class="d-flex justify-content-center">
                    <div class="col-sm-6">
                        {{ form|crispy }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-primary" type="submit">Registreer account</button>
            </div>
        </form>
    </div>
{% endblock content %}
