{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container text-center my-3">
    <h1 class="text-primary">Augustjes</h1>
    Het enige echte Home Vermeylenboekje. Het verschijnt ongeveer vier keer per jaar, zowel op papier als digitaal.<br>
    Abonneer je via <strong><a class="text-primary" data-toggle="collapse" data-target="#augustjeSubscribe" style="cursor: pointer;">dit formulier</a></strong> gratis op de papieren versie voor dit academiejaar.
    <br>
    <br>
    <!-- Form to subscribe TODO -->
    <div class="collapse" id="augustjeSubscribe">
        <div class="card card-body text-left shadow">
            <form method="POST">
                {% csrf_token %}
                <div class="row h-100">
                    <div class="col-md-4 my-2">
                        <h6>Naam<small class="text-muted"> (verplicht)</small><h6>
                        <input type="text" class="form-control" placeholder="Naam" name="name">
                    </div>
                    <div class="col-md-4 my-2">
                        <h6>Kamernummer</h6>
                        <input type="number" class="form-control" placeholder="xxx" name="room">
                        <small class="text-muted">Leeg laten indien je niet op de home zit</small>
                    </div>
                    <div class="col-md-4 my-2">
                        <h6>Email</h6>
                        <input type="email" class="form-control" placeholder="ik@email.com" name="email">
                    </div>
                </div>
                <h6 class="text-center">Voorwaarden<small class="text-muted"> (verplicht)</small></h6>
                <div class="custom-control custom-checkbox text-center">
                    <input type="checkbox" class="custom-control-input" id="acceptCheckbox" name="consent">
                    <label class="custom-control-label" for="acceptCheckbox">Ik accepteer dat Home Vermeylen deze gegevens bewaart.</label>
                </div>
                <div class="text-center my-2">
                    <button type="submit" class="btn btn-primary text-center"><i class="fas fa-paper-plane"></i> Abonneer</button>
                </div>
            </form>
            <small class="text-center text-muted">Je abonnement vroegtijdig opzeggen kan door een berichtje te sturen naar de scriptor of ICT.</small>
        </div>
    </div>
    
    <!-- List of augustjes -->
    {% for augustje in object_list %}
        {% if forloop.first %}
            <div class="row my-2">
        {% elif forloop.counter|divisibleby:4 %}
            </div>
            <div class="row d-flex justify-content-center">
        {% endif %}
        <div class="col-lg-4 col-md-6 my-2">
            <div class="card" style="height:100%">
                <div class="card-body shadow-sm">
                    <h5 class="card-title">{{ augustje.edition }}</h5>
                    <p class="card-text">{{ augustje.description }}</p>
                    <a href="{% url 'augustjes:detail' augustje.id %}" class="btn btn-primary">Lees</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ augustje.date }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if object_list.all %}
    </div>
    {% endif %}
    <hr>
    <!-- Link to archief -->
    <h3 class="text-primary">Ouder</h3>
    De Google Drive folder met alle oudere Augustjes kun je vinden via onderstaande link.<br><br>
    <a class="btn btn-outline-primary" href="https://drive.google.com/drive/folders/1Ok_0790kab5zsjKm5qY5dXc-c_PqI6oC?usp=sharing" target="_blank">Augustjes</a>
</div>
{% endblock %}